@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 7px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.grid > * {
  margin-bottom: 1rem;
}

.grid.center-items {
  justify-items: center;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 640px) {
  .grid > * {
    margin-bottom: 0;
  }
}
